<div class="oe_styling_v8">
    <section class="container">
        <div class="row">
            <h2 class="text-center"><b>Customizable Backend Theme Based on Material Design</b></h2>

            <div class="text-center">
                <!-- <div class="col-md-12">
                    <h2 class="mb16"><b>Material Design Theme</b></h2>
                </div> -->
                <div class="col-md-12" style=" margin-bottom: 50px;">
                    <p>Falcon Material Backend theme has been design according to the principles of material design. So you have layered interfaces with bold and vibrant graphics and colors. With our theme your backend will get a tactile surface that changes shape and size as per your device but also looks realistic in how the different design elements interact with each other. All this makes Falcon Material Backend Theme modern, simple and elegant.</p>
                </div>
            </div>
            <br/>
            <div class="col-md-6">
                <h3 class="mb16" style="margin-top: 0px;"><b>Theme Customization Options</b></h3>
                <p>Our simple to implement theme customization options include</p>
                <ul>
                    <li>Color - Change theme color to any of the available 6 color palettes</li>
                    <li>Layout - Switch to either classic or modern theme view</li>
                    <li>Fonts - Switch to any of the 6 available primary fonts</li>
                </ul>
                <br/>
                <p>Combine these options to create a unique and beautiful look for your Odoo backend.</p>
                <br/>
                
            </div>
            <div class='col-md-6'>
                <img class="img-border img-responsive thumbnail" src="theme-customize.png">
            </div>
        </div>
    </section>
    <hr>
    <section class="container text-center">
        <div class="row">
            <div class="col-md-12">
                <h2 class="mb16"><b>Fully Responsive Backend Theme</b></h2>
                <p>Falcon Material Backend Theme is fully responsive. Which means you can access your Oddo admin backend in multiple devices with an appealing look and user interface that fits beautifully in your device - be it mobile, tablet or desktop.</p>
            </div>
        </div>
    </section>
     <hr>
    <section class="container">
        <div class="row">
            <div class='col-md-6'>
                <h3 class=""><b>Hierarchical Left Menu with Icon</b></h3>
                <p>Clean &amp; Beautiful Hierarchical left menu look. You can define your own menu Icon by using bootstrap Icon.</h4>
                <img class="oe_picture oe_screenshot" style="margin: 0px auto; max-width: 100%; width: auto; max-height: inherit;" src="menu-default-open.png">
            </div>
            <div class="col-md-6">
                <h3 class=""><b>Toggle Left Menu</b></h3>    
                <p>Left Side Toggle Menu lets you add a sidebar menu to your page that slides in from the left edge of the browser window. This allows you to utilize the full view of the browser window when you don&#39;t need the menu.</p>
                <img class="oe_picture oe_screenshot" style="margin: 0px auto; max-width: 100%; width: auto; max-height: inherit;" src="menu-close.png">
            </div>
            
        </div>
    </section>
    <hr>
    <section class="container">
        <div class="row">
            <div class='col-md-12 text-center'>
                <h3 class=""><b>Expand Sub Menu</b></h3>
                <p>Clicking on parent menu in the sidebar lets you expand or collapse it.</p>
                <img class="oe_picture oe_screenshot" style="margin: 0px auto; max-width: 100%; width: auto; max-height: inherit;" src="menu-open.png"> 
            </div>
        </div>
    </section>
    <hr>
    <section class="container text-center">
        <div class="row">
            <h3 class=""><b>Premium Look for Top Menu</b></h3>
            <div class='col-md-12 text-center'>
                <p>Top menu with a premium new look (with custom colors) and editable logo section.</p>
                
            </div>
            <div class="col-md-12">
                <img class="oe_picture oe_screenshot" style="margin: 0px auto; max-width: 100%; width: auto; max-height: inherit;" src="header-1.png">
            </div>
         <!--    <div class="col-md-12">
                <img class="oe_picture oe_screenshot" style="margin: 0px auto; max-width: 100%; width: auto; max-height: inherit;" src="header.png">
                <br/>
                <p></p>
            </div> -->
            
        </div>
    </section>
    <hr>
    <section class="container">
        <div class="row">
            <div class='col-md-12 text-center'>
                <h3 class=""><b>Backend Favicon</b></h3>    
                <p>Easily add a custom favicon for your back end (admin) view.</p>
                <img class="oe_picture oe_screenshot" style="margin: 0px auto; max-width: 100%; width: auto; max-height: inherit;" src="general-settings.png">
            </div>
            
        </div>
    </section>
    <hr>
    <section class="container">
        <div class="row text-center">
            <h2 class=""><b>Other Custom Views and Layouts</b></h2>
            <div class="col-md-6 text-center">
                <h3> <b>Flawless Kanban View</b></h3>
                <div class="mt16">
                    <img class="oe_picture oe_screenshot" src="pipeline-grid.png" style="margin: 0px auto; max-width: 100%; width: auto; max-height: inherit;">
                </div>
            </div>
            <div class="col-md-6 text-center">
                <h3><b>Organized List View</b></h3>
                <div class="mt16">
                    <img class="oe_picture oe_screenshot" src="pipeline-table-1.png" style="margin: 0px auto; max-width: 100%; width: auto; max-height: inherit;">
                </div>
            </div>

            <div class="clearfix"></div>
            <hr>

            <div class="col-md-6 text-center">
                <h3><b>Form Element View</b></h3>
                <div class="mt16">
                    <img class="oe_picture oe_screenshot" src="form-view-1.png" style="margin: 0px auto; max-width: 100%; width: auto; max-height: inherit;">
                </div>
            </div>
            <div class="col-md-6 text-center">
                <h3><b>Modern Form view</b></h3>
                <div class="mt16">
                    <img class="oe_picture oe_screenshot" src="form-view-2.png" style="margin: 0px auto; max-width: 100%; width: auto; max-height: inherit;">
                </div>
            </div>

            <div class="clearfix"></div>
            <hr>

            <div class="col-md-6 text-center">
                <h3><b>Trendy Calendar View</b></h3>
                <div class="mt16">
                    <img class="oe_picture oe_screenshot" src="calendar-view.png" style="margin: 0px auto; max-width: 100%; width: auto; max-height: inherit;">
                </div>
            </div>

            <div class="col-md-6 text-center">
                <h3><b>Custom Pivot View</b></h3>
                <div class="mt16">
                    <img class="oe_picture oe_screenshot" src="pivot-view.png" style="margin: 0px auto; max-width: 100%; width: auto; max-height: inherit;">
                </div>
            </div>

            <div class="clearfix"></div>
            <hr>

            <div class="col-md-6 text-center">
                <h3><b>Graph View</b></h3>
                <div class="mt16">
                    <img class="oe_picture oe_screenshot" src="pipeline-chart.png" style="margin: 0px auto; max-width: 100%; width: auto; max-height: inherit;">
                </div>
            </div>

            <div class="col-md-6 text-center">
                <h3><b>Popup Layout</b></h3>
                <div class="mt16">
                    <img class="oe_picture oe_screenshot" src="popup.png" style="margin: 0px auto; max-width: 100%; width: auto; max-height: inherit;">
                </div>
            </div>

        </div>
    </section>

    <hr>

    <section class="container">
        <div class="text-center"><h2 class="text-center"><b>Falcon Responsive </b></h2></div>
        <p>&nbsp;</p>
        <div class="row">
            <div class="col-md-6" style="padding-bottom:45px;">
                <img class="img-border img-responsive thumbnail" src="ss2.jpg">
            </div>  
            <div class='col-md-6'>
               <img class="img-border img-responsive thumbnail" src="ss5.jpg"> 
            </div>
        </div>
        <hr>


        <div class="row">
            <div class="col-md-6">
                <h3 class="mb16" style="margin-top: 0px;"><b>Hierarchical Left menu with Icon</b></h3>
                <p>Clean &amp; Beautiful Hierarchical left menu look. You can define your own menu Icon by using bootstrap Icon.</p>
                <img class="img-border img-responsive thumbnail" src="ss9.jpg">
            </div>
            <div class='col-md-6'>
                <h3 class="mb16" style="margin-top: 0px;"><b>Toggle Left Menu</b></h3>
                <p>Left Side Toggle Menu lets you add a sidebar menu to your page that slides in from the left edge of the browser window. This allows you to utilize the full view of the browser window when you don&#39;t need the menu.</p>
                <img class="img-border img-responsive thumbnail" src="ss10.jpg">
            </div>
            
        </div>
        <hr>
    
        <div class="row">
            <div class="col-md-6">
                <h3 class="mb16" style="margin-top: 0px;"> <b> Expandable Sub Menu</b></h3>
                <p>You can expand sub menu by clicking on parent menu, given in the sidebar.</p>
                <img class="img-border img-responsive thumbnail" src="ss11.jpg">
            </div>
            <div class="col-md-6">
                <h3 class="mb16" style="margin-top: 0px;"><b>Flawless Kanban View</b></h3>
                <p>Get appropriate groups displayed in Kanban view seamlessly.</p>

                <img class="img-border img-responsive thumbnail" src="ss1.jpg">
            </div>
            
        </div>

        <hr>

        <div class="row">            
            <div class="col-md-6">
                <h3 class="mb16" style="margin-top: 0px;"><b>Form Element View</b></h3>
                <p>Define your Modern or classic form view &amp; make form look spotless.</p>
                <img class="img-border img-responsive thumbnail" src="ss5.jpg">
            </div>
            <div class='col-md-6'>
                <h3 class="mb16" style="margin-top: 0px;"><b>Trendy Calendar View</b></h3>
                <p>Simplify your work with new and trendy calendar view.</p>
                <img class="img-border img-responsive thumbnail" src="ss8.jpg">
            </div>
        </div>

        <hr>
        <div class="row">
            <div class="col-md-6">
                <h3 class="mb16" style="margin-top: 0px;"><b>Popup Layout</b></h3>
                <p>Adaptable Popup Layout which will change with theme effects. Alert view that allows to provide your inputs.</p>
                <img class="img-border img-responsive thumbnail" src="ss6.jpg">
            </div>
        </div>
    </section>
    <hr>
    <!-- <section>
        <div class="text-center">
            <br/>
            <h3>Explore this video to know more how Falcon Backend Theme works!</h3>
            <br/>
            <a style="color: #fff; border: 1px solid #3f0c89; position: relative; overflow: hidden; background-color: #3f0c89" class="btn btn-success btn-lg" rel="nofollow" href="https://www.youtube.com/embed/971QQE5DWMM?autoplay=1" target="_blank">
                Video
            </a>
        </div>
    </section>
    <hr> -->
    <section class="container">
        <div class="row oe_spaced text-center">
            <h2 class="mb32"><b>You may also like</b></h2>
            <div class="col-md-4">
                <a href="https://www.odoo.com/apps/themes/10.0/kingfisher/">
                    <img class="img-border img-responsive thumbnail" src="Kingfisher_store-logo.png"/>
                </a>
            </div>
            <div class="col-md-4">
                <a href="https://www.odoo.com/apps/themes/10.0/kingfisher_pro_bicycle">
                    <img class="img-border img-responsive thumbnail" src="bicycle-logo.png"/>
                </a>
            </div>
            <div class="col-md-4">
                <a href="https://www.odoo.com/apps/themes/10.0/kingfisher_pro">
                    <img class="img-border img-responsive thumbnail" src="kingfisher-pro-store-logo.png"/>
                </a>
            </div>
        </div>
    </section>
    <hr>
    <section class="oe_container">
        <div class="oe_row oe_spaced">
            <div class="col-md-6 img-content">
                <h3>Our Odoo Services</h3>
            </div>
            <div class="bc-span col-md-12">
                <div class="inner-span">
                    <a target="_blank" href="https://goo.gl/rAuut4">
                        <img class="img-border img-responsive thumbnail" src="service-banner.png" />
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="oe_container">
        <div class="oe_row oe_spaced">
            <div class="col-md-12 img-content text-center">
                <h2>Technical Help &amp; Support</h2>
                <p style="margin: 30px 0px;">We offer extremely convenient and quick support service to all your technical help &amp; support requests. As our support <br /> service is the parameter defining the success of our business and earning us the brand name.       <br />    Please feel free to contact us</p>
                <div class="text-center">
                    <a style="color: rgb(255, 255, 255); border-color: rgb(49, 91, 143); position: relative; overflow: hidden; background: none 0% 0% repeat scroll rgb(49, 91, 143);" class="btn btn-success btn-lg" rel="nofollow" href="mailto:support@appjetty.com">
                        <i class="fa fa-envelope"></i>  support@appjetty.com </a>
                </div>
                <br />
            </div>
        </div>
    </section>
</div>
