.ui-autocomplete {
    background-image: none;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    /*font-family: Georgia, "Times New Roman", Times, serif;*/
    font-family: "Lucida Grande", Helvetica, Verdana, Arial, sans-serif !important;
    font-size: 13px;
    padding: 5px 0px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176);
}

.ui-autocomplete .ui-menu-item > a {
    font-family: "Lucida Grande", Helvetica, Verdana, Arial, sans-serif !important;
    font-size: 13px;
    padding: 5px 0px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176);
    display: block;
    color: #333333;
    padding: 3px 25px;
}