.navbar-static-top .container{
    min-height: 80pt;
}

header a.navbar-brand img {
    min-height: 100px;
    margin-top: 3px;
}

#top_menu {
    font-weight: bold;
}

.navbar-bottom-collapse {
    bottom:0;
    right:0;
    margin-top: 30px;
}


