/**fix sigup form**/
.contai-sig{
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.contai-sig{
    width: 1170px;
}

@media (min-width: 768px){
.contai-sig {
    width: 750px;
    }
}



@media (min-width: 1200px){
.contai-sig {
    width: 1170px;
    }
}

@media (min-width: 992px){
.contai-sig {
    width: 970px;
    }
}

@media (min-width: 992px) {
    .fix-flogin {
        width: 41.66666667%;
        float: left;
        padding: 0 15px 0 15px;
    }
}

.fix-button{
    padding-left: 50px;
}

/*fix botton sigin*/
@media (min-width: 992px){
.col-md-12-2 {
    width: 100%;
    padding: 15px 50px 40px 150px;
    font-family: inherit;
    line-height: inherit;
    margin-top: 15px;
    }
}

@media (min-width: 992px){
.col-md-12-3 {
    width: 100%;
    padding: 20px 50px 30px 180px;
    font-family: inherit;
    line-height: inherit;
    }
}
.pull-right{
    float: none;
}