/*.@charset "utf-8";*/
/* CSS Document */
.clear {
    padding: 0;
    margin: 0;
    clear: both;
    height: 0;
    line-height: 0;
}

img {
    padding: 0;
    margin: 0;
    border: none;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

p, h2 {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

body {
    padding: 0;
    margin: 0;
    background-color: #bfbfbf;
    color: #000;
    font: normal 13px "Myriad Pro Reg", Tahoma, Arial, Verdana, sans-serif;
}

#Main {
    height: 100%;
    width: 100%;
    margin: auto;
    max-width: 1280px;
    padding-bottom: 10px;
}
.x {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 10px;
    background: #d6d6d6;
    border: 1px solid #FFF;
    -webkit-border-radius: 15;
    -moz-border-radius: 15;
    border-radius: 5px;
    color: #787878;
    font: 15px Tahoma, Geneva, sans-serif;
    line-height: 20px;
}

.x1 {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 10px;
    background: #d6d6d6;
    border: 1px solid #FFF;
    -webkit-border-radius: 15;
    -moz-border-radius: 15;
    border-radius: 5px;
    color: #787878;
    font: 15px Tahoma, Geneva, sans-serif;
    line-height: 20px;
}

.compBox {
    padding-left: 4px;
    padding-right: 4px;
}

.AlignLeft {
    text-align: left;
    padding-left: 5px;
}

.AlignRight {
    text-align: right;
    padding-right: 5px;
}

.AlignCenter {
    text-align: center;
}

.Span-padding a {
    padding-top: 2px;
}

.AlignTop {
    vertical-align: text-top;
}

.Margin10px {
    margin-bottom: 10px;
}

.MarginLeft20 {
    margin-left: 20px;
}

input[type="text"] {
    border: solid 1px #e4e4e4;
}
/******************************************************************* page */

#page {
    width: 1024px;
}

/******************************************************************* header */

#mainTitle {
    width: 100%;
    height: 175px;
    float: left;
    background: #d8a62e;
    /*position: absolute;*/
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
}

.logo {
    /*background: url(/bms_guest_stay_website/static/src/img/logo.png) no-repeat center;*/
    background: no-repeat center;
    height: 195px;
    width: 236px;
    z-index: 1;
}

.borderSpan {
padding-top: 10px;
padding-bottom: 10px;
background-color: #006838;
}
.borderSpann {
padding-top: 10px;
padding-bottom: 10px;
background-color: #659531;
}

#d {
margin-right: 0px;
margin-left: 0px;
margin-top: 10px;
}

.row {
    width: 100%;
}

.d-flex {
    display:-ms-flexbox!important;
    display:flex!important
}

.maxwidth {
    width: 100%;
}
/******************************************************************* footer */

#footer {
    margin: auto;
    margin-top: 20px;
    height: auto;
    background-image: url("/bms_guest_stay_website/static/src/img/bg-regInfo.jpg");
    width: 100%;
    padding-bottom: 10px;
}

    #footer .inner {
        display: table;
        height: auto;
        width: 97%;
        text-align: center;
        margin: auto;
        padding-top: 5px;
    }

    #footer .leftFooter, #footer .rightFooter {
        margin: auto;
        width: auto;
        padding: 0;
        display: table-cell;
        vertical-align: middle;
    }

    #footer .leftFooter {
        text-align: left;
        margin-right: 35px;
    }

        #footer .leftFooter a {
            color: #444;
            text-decoration: none;
            font: 14px "Myriad Pro Bold", Tahoma, Arial, Verdana, sans-serif;
            text-transform: uppercase;
        }

            #footer .leftFooter a:hover {
                color: #000;
            }

    #footer .rightFooter {
        text-align: right;
        margin-left: 35px;
        width: 620px;
        font: 14px "Myriad Pro Reg", Tahoma, Arial, Verdana, sans-serif;
    }
    #footer .rightFooter>p {
        display:inline-block;
		vertical-align:middle;
    }

    #footer .logoFooter {
        background: url("/bms_guest_stay_website/static/src/img/logo-footer.png") no-repeat top center;
        display: inline-block;
        margin: auto;
        margin-left: 15px;
        padding: 0;
        width: 60px;
        height: 50px;
        vertical-align: middle;
    }
    #footer .f2 { font-size:15px;color:#e5e5e5;background-color:#888;text-align:center;padding:15px;vertical-align:middle; }
    #footer .f2>img { display:inline-block;vertical-align:middle;margin-right:8px; }
    #footer .f2>a { color:#fff; }

#top_menu {
    background: #444444;
    font: 18px "Myriad Pro Reg", Tahoma, Arial, Verdana, sans-serif;
    color: #bfbfbf;
    text-align: center;
    z-index: 4;
    max-width: 1250px;
    align: center;
    margin: auto;
    min-height: 100%;
}

ul[id='top_menu'] {
    list-style-type: none;
    list-style-image: none;
    list-style: none;
    margin: auto;
}

ul[id='top_menu'] li {
    margin: auto;
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
}

    #menu ul {
        list-style-type: none;
        list-style-image: none;
        list-style: none;
        margin: auto;
    }

        #menu ul li {
            margin: auto;
            display: inline-block;
            vertical-align: middle;
            text-transform: uppercase;
        }

    #menu .mHome {
        width: 148px;
    }

    #menu .mInfo {
        width: 200px;
    }

    #menu .mNews {
        width: 125px;
    }

    #menu .mIntro {
        width: 140px;
    }

    #menu .mEnVi {
        /*width:120px;*/
        width: 80px;
    }

    #menu ul li div.menuCenter {
        width: 220px;
        display: inline-block;
    }

    #menu ul li a {
        font: 15px "Myriad Pro Reg", Tahoma, Arial, Verdana, sans-serif;
        color: #bfbfbf;
        display: inline-block;
        padding: 22px 25px 20px 25px;
        height: 12px;
        border-bottom: 6px solid #444;
        z-index: 5;
    }

        #menu ul li a:hover, #menu ul li a.disable {
            font: 15px "Myriad Pro Bold", Tahoma, Arial, Verdana, sans-serif;
            background: #292929;
            border-bottom: 5px solid #000;
            z-index: 6;
        }

        #menu ul li a.disable {
            cursor: default;
        }

        #menu ul li a.btnTransViEn {
            background: url(/bms_guest_stay_website/static/src/img/btn-transViEn.png) no-repeat center;
            font: 15px "Myriad Pro Reg", Tahoma, Arial, Verdana, sans-serif;
            text-transform: uppercase;
            color: #bfbfbf;
            display: inline-block;
            width: auto;
            height: auto;
            border-bottom: none;
        }

            #menu ul li a.btnTransViEn:hover {
                background: url("/bms_guest_stay_website/static/src/img/btn-transViEn-hover.png") no-repeat center;
            }

#mainTitle {
    /*margin-top: -36px;*/
    z-index: -9999;
}

    #mainTitle ul {
        list-style-type: none;
        list-style-image: none;
        list-style: none;
        margin: auto;
    }

        #mainTitle ul li {
            margin: auto;
            display: inline-block;
            vertical-align: middle;
            text-transform: uppercase;
        }

    #mainTitle .leftTitle {
        font: 30px "Myriad Pro Reg", Tahoma, Arial, Verdana, sans-serif;
        color: #474747;
        font-weight: 500;
        width: 310px;
        padding-right: 40px;
    }

    #mainTitle .rightTitle {
        font: 26px "Myriad Pro Bold", Tahoma, Arial, Verdana, sans-serif;
        color: #006838;
        width: 310px;
        line-height: 30px;
        padding-left: 40px;
    }

#banner {
    margin: auto;
    margin-top: 6px;
    padding-top: 50px;
    height: 350px;
    color: white;
    background: url("/bms_guest_stay_website/static/src/img/qlt-casl-banner.jpg") center center no-repeat;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

    #banner .innerContent {
        padding-top: 52px;
    }

    #banner .bannerLeft, #banner .bannerRight {
        width: auto;
        height: auto;
        color: #eaf7e0;
        text-align: left;
        font: 18px "Myriad Pro Reg", Tahoma, Arial, Verdana, sans-serif;
        line-height: 28px;
        display: inline-block;
        vertical-align: middle;
        padding-left: 20px;
        padding-right: 40px;
    }

    #banner .bannerLeft {
    }

    #banner .bannerRight {
        margin-top: -10px;
        margin-left: 60px;
    }

    #banner .bannerLeft span {
        display: block;
        margin-top: 18px;
    }

        #banner .bannerLeft span input {
            margin-right: 10px;
        }

    #banner .bannerLeft h1 {
        /*text-transform: uppercase;*/
        font: 42px "Myriad Pro Bold", Tahoma, Arial, Verdana, sans-serif;
        line-height: 12px;
    }

    #banner .bannerLeft .uppercaseText {
        /*text-transform: uppercase;*/
    }

    #banner .btnDKTrucTuyen, #banner .btnDKTrucTiep {
        display: inline-block;
        width: 260px;
        height: 45px;
        background: #d8a52e;
        background-image: -webkit-linear-gradient(top, #eba709, #d8a52e);
        background-image: -moz-linear-gradient(top, #eba709, #d8a52e);
        background-image: -ms-linear-gradient(top, #eba709, #d8a52e);
        background-image: -o-linear-gradient(top, #eba709, #d8a52e);
        background-image: linear-gradient(to bottom, #eba709, #d8a52e);
        border: 1px solid #9c7518;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        font: 21px "Myriad Pro Bold Condensed", Tahoma, Arial, Verdana, sans-serif;
        font-weight: bold;
        color: #000;
        text-decoration: none;
        text-transform: uppercase;
        cursor: pointer;
        line-height: 45px;
        text-align: center;
        padding: 0 6px;
        margin-top: 10px;
    }

    #banner .btnDKTrucTiep {
        width: 245px;
        display: none;
    }

        #banner .btnDKTrucTuyen:hover, #banner .btnDKTrucTiep:hover {
            background: #eba709;
        }

#content {
    min-height: 350px;
}

.regInfoCom {
    height: auto;
}

    .regInfoCom div.maxwidth div span p.p {
            font: 15px "Myriad Pro Bold SemiCondensed", Tahoma, Arial, Verdana, sans-serif;
            text-transform: uppercase;
            color: #000000;
        }
            .regInfo ul li span {
                display: block;
                width: 220px;
                padding: 0 3px;
            }

        .regInfoCom div.maxwidth div span p.p1 {
            font: 15px "Myriad Pro Bold SemiCondensed", Tahoma, Arial, Verdana, sans-serif;
            text-transform: uppercase;
            color: #C4DCD1;
        }
            .regInfo ul li span {
                display: block;
                width: 220px;
                padding: 0 3px;
            }

    .regInfoCom div.maxwidth div span p.Title {
        font: 50px "Myriad Pro Bold", Tahoma, Arial, Verdana, sans-serif;
        color: #000000;
        text-align: center;
    }

    .regInfoCom div.maxwidth div span p.Title1 {
        font: 50px "Myriad Pro Bold", Tahoma, Arial, Verdana, sans-serif;
        color: #C4DCD1;
        text-align: center;
    }

                .regInfo ul li span.bigTitle {
                    font: 60px "Myriad Pro Bold", Tahoma, Arial, Verdana, sans-serif;
                    color: #006838;
                }

            .regInfo ul li p {
                font: 15px "Myriad Pro Bold SemiCondensed", Tahoma, Arial, Verdana, sans-serif;
                text-transform: uppercase;
                color: #444444;
            }

            .regInfo ul li .verLine {
                display: block;
                background: url(/bms_guest_stay_website/static/src/img/vertical-line.png) center no-repeat;
                width: 10px;
                height: 160px;
                padding: 0 3px;
            }

.regInfoCom .arrowTop {
    background: url(/bms_guest_stay_website/static/src/img/arrow-up.png) center top no-repeat;
    width: auto;
    height: 20px;
}

.clickToViewDetail {
    display: block;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 0;
    background: #006838;
}

    .clickToViewDetail a {
        font: 25px "Myriad Pro Bold Condensed", Tahoma, Arial, Verdana, sans-serif;
        color: #ccc;
    }

        .clickToViewDetail a:hover {
            text-decoration: none;
            color: #fff;
        }

/***************** Component Box *******************/
.x .bigTitle {
    font: 20px "Myriad Pro Bold Condensed", Tahoma, Arial, Verdana, sans-serif;
    text-transform: uppercase;
    color: #444;
    display: inline-block;
    line-height: 20px;
    padding: 0 10px 10px 35px;
    margin-top: 5px;
}

.x1 .bigTitle {
    font: 20px "Myriad Pro Bold Condensed", Tahoma, Arial, Verdana, sans-serif;
    text-transform: uppercase;
    color: #444;
    display: block;
    line-height: 20px;
    padding: 0 10px 10px 35px;
    margin-top: 5px;
}

    .x .bigTitle {
        background: url(/bms_guest_stay_website/static/src/img/icon-qna.png) no-repeat top left;
    }

    .x1 .bigTitle {
        background: url(/bms_guest_stay_website/static/src/img/icon-contact.png) no-repeat top left;
    }

            .x h1 {
                font: bold 16px Tahoma, Geneva, sans-serif;
                line-height: 5px;
                color: #444;
                padding-top: 7px;
            }

            .x p {
                vertical-align: middle;
            }

            .x a {
                color: #787878;
            }

                .x a:hover {
                    text-decoration: underline;
                }

            .x .learnMore {
                text-align: right;
                padding-top: 2px;
            }

                .x .learnMore a {
                    color: #FFF;
                    font: bold 15px Tahoma, Geneva, sans-serif;
                    text-decoration: none;
                }

                    .x .learnMore a:hover {
                        color: #FFF;
                        text-decoration: underline;
                    }


/************************ TITLE ************************/
#title {
    display: block;
    height: auto;
    width: 900px;
    margin: auto;
    color: #006838;
    padding-top: 30px;
    padding-bottom: 30px;
}

    #title .bigTitle {
        font: 26px "Myriad Pro Bold", Tahoma, Arial, Verdana, sans-serif;
        display: block;
    }

    #title .subTitle {
        font: 15px "Myriad Pro Bold", Tahoma, Arial, Verdana, sans-serif;
        display: block;
        color: #474747;
    }
/************************ End of TITLE ************************/

/************************ FORM ************************/
.formApp {
    background: #FFF;
    height: auto;
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    width: 100%;
    max-width: 1020px;
    margin: auto;
}

    .formApp .inner {
        padding: 25px 30px 20px 30px;
    }

    .formApp .formTitle {
        border-top: 2px solid #bfbfbf;
        border-bottom: 2px solid #bfbfbf;
        width: auto;
        padding: 3px 15px 3px 15px;
        margin-top: 15px;
        font: 23px "Myriad Pro Bold Condensed", Tahoma, Arial, Verdana, sans-serif;
        text-transform: uppercase;
        color: #444;
    }

        .formApp .formTitle span.titleFinish {
        }

    .formApp .formTable {
        padding: 25px 15px 3px 15px;
    }

.formTableSub {
    padding: 0px 15px 3px 15px;
}

.formApp table {
    padding: 0;
}

    .formApp table tr td {
        padding: 0 10px 0 0;
        font: 13px Tahoma, Arial, Verdana, sans-serif;
        white-space: nowrap;
    }

.formApp .alertText {
    padding-left: 5px;
    font: 12px Tahoma, Arial, Verdana, sans-serif;
    color: red;
    vertical-align: middle;
}

.formApp .fillStar {
    padding-left: 4px;
}

.formApp .alertText, .alertTextName, .alertBirthBase, .alertSelBrithplace, .alertSelBrithplace, .alertSelBirthPlaceCountry, .alertSelSonBirthPlace, #labcaptcha,
.alertsltaddressnow_city, .alertsltaddressnow_dict, .alertsltaddressnow_Ward, .alertTextGender, .alertTextReceivePassport,
.alertTextCard, .alertDateCard, .alertsltPlace, .alertSltdtoc, .alertTextReligious, .alertTextPhone, .alertsltaddress_city, .alertsltaddress_dict,
.alertsltaddress_Ward, .alertsltaddressnow_dict_Job, .alertTextNameCompany, .alertTextaddressCompany, .alertTextNameFather, .alertTxtbirthFather,
.alertTextNameMother, .alertTextBirthMother, .alertTextNameWife, .alertTextBirthWife, .alertTextSonName, .alertTextSonBirthday, .alertsltsonlBrithplace,
.alertTextsltPassportIssueRequestType, .alertTextDOB, .alertTextHCPT, .alertTextPassportDate, .alerttxtaddress_stre, .alerttxtaddressnows_stre, .alertShipAddress {
    padding-left: 5px;
    font: 13px Tahoma, Arial, Verdana, sans-serif;
    color: red;
    vertical-align: middle;
}

#labcaptcha {
    margin-top: -23px;
    position: absolute;
    margin-left: 10px;
}

#onlyyear, #onlymonth {
    float: left;
}

.formApp input[type="text"] {
    padding: 4px;
    border: 1px solid #bfbfbf;
}

.formApp select {
    padding: 4px;
    border: 1px solid #bfbfbf;
}

    .formApp input.redRound, .formApp select.redRound {
        border: 1px solid #FF0000;
    }

.formApp .fillStar, .formApp .checkStar {
    padding-left: 4px;
    color: red;
}

.formApp .radio-toolbar input[type="checkbox"] {
    display: none;
}

.formApp .radio-toolbar input[type="radio"] {
    display: none;
}


.formApp .radio-toolbar .checkbox-before-label {
    display: inline-block;
    background: url(/bms_guest_stay_website/static/src/img/icon-uncheck.png) no-repeat left;
    vertical-align: middle;
    padding: 0 6px 0 0;
    width: 20px;
    height: 20px;
}

.formApp .radio-toolbar .radio-before-label, .formApp .radio-toolbar .radio-label {
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 0 6px 0 0;
    background: url(/bms_guest_stay_website/static/src/img/icon-uncheck.png) no-repeat left;
    vertical-align: middle;
}

.formApp .radio-toolbar span {
    padding-right: 5px;
    font: bold 13px Tahoma, Arial, Verdana, sans-serif;
    vertical-align: middle;
}

.formApp .radio-toolbar .checkbox-checked .checkbox-before-label {
    background: url(/bms_guest_stay_website/static/src/img/icon-checked.png) no-repeat left;
    vertical-align: middle;
}

.formApp .radio-toolbar .radio-checked .radio-before-label {
    background: url(/bms_guest_stay_website/static/src/img/icon-checked.png) no-repeat left;
    vertical-align: middle;
}

.formApp .formEnding {
    text-align: center;
    padding: 5px 0;
}

    .formApp .formEnding .typeCode {
        display: block;
        padding: 15px 0;
    }

        .formApp .formEnding .typeCode span {
            display: inline-table;
            vertical-align: middle;
        }

    .formApp .formEnding span p {
        text-align: left;
    }

        .formApp .formEnding span p.textEnterCode {
            font: 15px "Myriad Pro Bold", Tahoma, Arial, Verdana, sans-serif;
            color: red;
            margin-top: -75px;
            margin-left: 5px;
        }

.birthDatepicker {
    display: none;
}

.formApp .formEnding span img {
    vertical-align: middle;
    padding: 0 10px;
}

.formApp .formEnding .radio-toolbar span {
    font: 16px "Myriad Pro Bold", Tahoma, Arial, Verdana, sans-serif;
    vertical-align: middle;
}

.btnChinhSua, .btnInToKhai, .btnDangKyLai {
    display: inline-block;
    width: 140px;
    height: 40px;
    background: #006838;
    background-image: -webkit-linear-gradient(top, #129e5d, #006838);
    background-image: -moz-linear-gradient(top, #129e5d, #006838);
    background-image: -ms-linear-gradient(top, #129e5d, #006838);
    background-image: -o-linear-gradient(top, #129e5d, #006838);
    background-image: linear-gradient(to bottom, #129e5d, #006838);
    border: 1px solid #006838;
    -webkit-border-radius: 3;
    -moz-border-radius: 3;
    border-radius: 3px;
    font: 28px "Myriad Pro Bold Condensed", Tahoma, Arial, Verdana, sans-serif;
    line-height: 40px;
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    margin: 15px 5px;
}

.btnDangKy, .btnNhapLai, .btnDangKyNext {
    width: 120px;
    height: 45px;
    background: #006838;
    background-image: -webkit-linear-gradient(top, #129e5d, #006838);
    background-image: -moz-linear-gradient(top, #129e5d, #006838);
    background-image: -ms-linear-gradient(top, #129e5d, #006838);
    background-image: -o-linear-gradient(top, #129e5d, #006838);
    background-image: linear-gradient(to bottom, #129e5d, #006838);
    border: 1px solid #006838;
    -webkit-border-radius: 3;
    -moz-border-radius: 3;
    border-radius: 3px;
    font: 28px "Myriad Pro Bold Condensed", Tahoma, Arial, Verdana, sans-serif;
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    margin: 15px 5px;
}

.btnDangKy, .btnNhapLai, .btnDangKyNext {
    padding: 3px 15px 3px 15px;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
}

.btnInToKhai {
    background: url(/bms_guest_stay_website/static/src/img/print-btn.png) no-repeat;
    width: 54px;
    padding-left: 35px;
}

    .btnInToKhai:hover {
        background: url(/bms_guest_stay_website/static/src/img/print-btn-hover.png) no-repeat;
    }

.btnNhapLai {
    width: 120px;
}

    .btnDangKy:hover, .btnNhapLai:hover, .btnChinhSua:hover, .btnDangKyLai:hover {
        background: #129e5d;
    }

/************************ End of FORM ************************/

.noneShow {
    display: none;
}
.shipShow {
    display: block;
}

/************************ Review FORM ************************/
.formApp .reviewTitle {
    border-bottom: 2px solid #bfbfbf;
    width: auto;
    padding: 0 15px 5px 15px;
    margin-top: 15px;
    font: 24px "Myriad Pro Condensed", Tahoma, Arial, Verdana, sans-serif;
    text-transform: uppercase;
    color: #444;
}

    .formApp .reviewTitle .registeredId {
        float: right;
        color: red;
    }

.formApp .infoTitle {
    text-align: center;
    display: block;
    width: 100%;
    margin: auto;
    font: 24px "Myriad Pro Bold Condensed", Tahoma, Arial, Verdana, sans-serif;
    text-transform: uppercase;
    padding: 20px 10px 0 10px;
}

.formApp .reviewInfo {
    padding-top: 10px;
}

    .formApp .reviewInfo tr td {
        padding: 8px 7px;
        vertical-align: top;
        line-height: 22px;
    }

    .formApp .reviewInfo .textInfo {
        font: bold 14px Tahoma, Arial, Verdana, sans-serif;
        white-space: normal;
        line-height: 22px;
    }

    .formApp .reviewInfo .notTextInfo {
        font: 13px Tahoma, Arial, Verdana, sans-serif;
        padding: 0 5px;
    }

.formApp .agreement {
    display: block;
    font: bold 14px Tahoma, Arial, Verdana, sans-serif;
    padding: 10px 8px;
}

.idNumber span {
    display: inline-table;
    width: 22px;
    height: 24px;
    border: 1px solid #bfbfbf;
    vertical-align: top;
    line-height: 25px;
    text-align: center;
    font: 16px "Myriad Pro Bold", Tahoma, Arial, Verdana, sans-serif;
    line-height: 22px;
}

    .idNumber span.blank {
        background: #f6f6f6;
    }

.hiddenContent {
    display: none;
}

.showContent {
    display: normal;
}
/************************ End of Review FORM ************************/
.formApp.finish {
    padding-top: 20px;
}

    .formApp.finish .inner {
        padding-top: 15px;
    }

.formApp .finalInfo {
    display: block;
    width: 100%;
    height: auto;
    margin: auto;
    background: #cfe2d9 url(.//bms_guest_stay_website/static/src/img/final-info.gif) no-repeat scroll right 10px;
    position: relative;
    -webkit-box-shadow: inset 0px -4px 4px -4px rgba(0,0,0,0.35);
    -moz-box-shadow: inset 0px -4px 4px -4px rgba(0,0,0,0.35);
    box-shadow: inset 0px -4px 4px -4px rgba(0,0,0,0.35);
}

    .formApp .finalInfo .textCollapse {
        display: block;
        padding: 20px 45px;
        font: normal 13px Arial, Helvetica, sans-serif;
        line-height: 20px;
        margin: 20px 45px 5px 45px;
    }

    .formApp .finalInfo .congrats {
        display: block;
        font: bold 15px Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        margin-bottom: 10px;
        padding-top: 15px;
    }

    .formApp .finalInfo .textCollapse ul {
        margin-left: 20px;
    }

        .formApp .finalInfo .textCollapse ul li {
            margin: 6px 0px;
            list-style: disc outside none;
            font-size: 22px;
            color: #444;
        }

            .formApp .finalInfo .textCollapse ul li p {
                font-size: 13px;
                color: #252525;
            }

    .formApp .finalInfo .textCollapse .redText {
        color: red;
        font-weight: 900;
    }

    .formApp .finalInfo .collapseBtn {
        display: block;
        position: relative;
        bottom: 0;
        width: 84px;
        height: 18px;
        left: 0;
        right: 0;
        margin: auto;
        background: #FFF;
        -webkit-border-radius: 4 4 0 0;
        -moz-border-radius: 4 4 0 0;
        border-radius: 4px 4px 0px 0px;
        -o-transition: color .15s ease-out, background .15s ease-in;
        -ms-transition: color .15s ease-out, background .15s ease-in;
        -moz-transition: color .15s ease-out, background .15s ease-in;
        -webkit-transition: color .15s ease-out, background .15s ease-in;
        transition: color .15s ease-out, background .15s ease-in;
        -webkit-box-shadow: 0px -1px 2px 0px rgba(0,0,0,0.35);
        -moz-box-shadow: 0px -1px 2px 0px rgba(0,0,0,0.35);
        box-shadow: 0px -1px 2px 0px rgba(0,0,0,0.35);
    }

        .formApp .finalInfo .collapseBtn:after {
            content: "";
            display: block;
            width: 18px;
            height: 12px;
            background: url(/bms_guest_stay_website/static/src/img/arrow-icons.png) no-repeat;
            margin: auto;
            top: 22%;
            position: relative;
        }

        .formApp .finalInfo .collapseBtn:hover {
            background: #666;
            cursor: pointer;
        }

        .formApp .finalInfo .collapseBtn.clicked:after {
            background-position: -21px 0;
        }

    .formApp .finalInfo .clicked:hover {
        background: #666;
        cursor: pointer;
    }

/*User Guide*/


.userGuide {
    display: block;
    margin: auto;
    width: 1024px;
}

    .userGuide .steps-guide {
        display: block;
        background: url(/bms_guest_stay_website/static/src/img/5-steps-guide.png) no-repeat scroll;
        position: 0 0;
        width: 100%;
        height: 56px;
    }

        .userGuide .steps-guide ul li {
            display: inline-block;
        }

            .userGuide .steps-guide ul li a {
                display: inline-block;
                height: 56px;
            }

                .userGuide .steps-guide ul li a.step01 {
                    width: 125px;
                    cursor: pointer;
                }

                .userGuide .steps-guide ul li a.step02 {
                    width: 125px;
                    margin-left: 525px;
                    cursor: pointer;
                }

                .userGuide .steps-guide ul li a.step03 {
                    width: 115px;
                    cursor: pointer;
                }

                .userGuide .steps-guide ul li a.step04 {
                    width: 115px;
                    cursor: pointer;
                }

                .userGuide .steps-guide ul li a.step05 {
                    width: 110px;
                    cursor: pointer;
                }


    .userGuide .stepContent {
        display: block;
        width: auto;
        height: auto;
        text-align: center;
        margin: 30px 0;
        position: relative;
    }

        .userGuide .stepContent img {
            margin: auto;
        }

        .userGuide .stepContent div, .userGuide .stepContent span {
            display: block;
        }

        .userGuide .stepContent .imgCenter {
        }

        .userGuide .stepContent span.leftBtn, .userGuide .stepContent span.rightBtn {
            float: left;
            width: 82px;
            height: 38px;
            background: #FFF;
            -webkit-border-radius: 4;
            -moz-border-radius: 4;
            border-radius: 4px;
            margin-top: 30%;
            font: bold 13px Arial, Helvetica, sans-serif;
            text-transform: uppercase;
            line-height: 38px;
            color: #292929;
        }

            .userGuide .stepContent span.leftBtn:hover, .userGuide .stepContent span.rightBtn:hover {
                cursor: pointer;
                color: #ccc;
                background: #006838;
            }

            .userGuide .stepContent span.leftBtn:before {
                content: "";
                background: url(/bms_guest_stay_website/static/src/img/arrow-steps.png) no-repeat scroll;
                display: inline-block;
                width: 18px;
                height: 21px;
                margin: auto;
                top: 15%;
                position: relative;
            }

            .userGuide .stepContent span.rightBtn:after {
                content: "";
                background: url(/bms_guest_stay_website/static/src/img/arrow-steps.png) no-repeat scroll -14px 0;
                display: inline-block;
                width: 22px;
                height: 21px;
                margin: auto;
                top: 15%;
                position: relative;
            }

        .userGuide .stepContent span.rightBtn {
            float: right;
        }

        .userGuide .stepContent .titleImg {
            clear: both;
            font: normal 13px Arial, Helvetica, sans-serif;
            margin-top: 5px;
        }

.formApp.qNa {
    max-width: 1200px;
}

    .formApp.qNa .inner {
        padding: 35px 0px;
        display: table;
        position: relative;
    }

    .formApp.qNa div {
        display: block;
    }

    .formApp.qNa .titleQuestion {
        display: inline-block;
        width: auto;
        padding: 8px 20px 8px 50px;
        background: #444;
        color: #efefef;
        font: 20px "Myriad Pro Bold Condensed", Tahoma, Arial, Verdana, sans-serif;
        text-transform: uppercase;
        -webkit-border-radius: 0 4 4 0;
        -moz-border-radius: 0 4 4 0;
        border-radius: 0 4px 4px 0;
    }

    .formApp.qNa .answerCont {
        font: normal 13px Arial, Helvetica, sans-serif;
        line-height: 18px;
        padding: 8px 50px 8px 50px;
    }

        .formApp.qNa .answerCont div {
            margin-bottom: 30px;
        }

            .formApp.qNa .answerCont div b.tit {
                font-size: 15px;
                padding-bottom: 8px;
                display: block;
            }

    .formApp.qNa .questions {
        float: right;
        font: 12px Arial, Helvetica, sans-serif;
        line-height: 16px;
        background: #444 url(.//bms_guest_stay_website/static/src/img/question-icon.png) no-repeat bottom right;
        color: #efefef;
        width: 25%;
        padding: 10px 20px;
        margin-left: 20px;
        -webkit-border-radius: 4 0 0 4;
        -moz-border-radius: 4 0 0 4;
        border-radius: 4px 0 0 4px;
    }

        .formApp.qNa .questions span {
            font: 20px "Myriad Pro Bold Condensed", Tahoma, Arial, Verdana, sans-serif;
            text-transform: uppercase;
            color: #d8a62e;
            text-align: right;
            display: block;
        }

            .formApp.qNa .questions span:after {
                content: "";
                height: 1px;
                background: #d8a62e;
                width: 100%;
                top: 80%;
                right: 0;
                float: right;
            }

        .formApp.qNa .questions ul {
            margin: 15px 0;
        }

            .formApp.qNa .questions ul li {
                padding: 4px 0;
            }

                .formApp.qNa .questions ul li a {
                    color: #efefef;
                    font-weight: bold;
                }

                    .formApp.qNa .questions ul li a:hover {
                        color: #d8a62e;
                        font-weight: bold;
                    }

                .formApp.qNa .questions ul li:before {
                    width: 0;
                    height: 0;
                    border-top: 3px solid transparent;
                    border-left: 5px solid #efefef;
                    border-bottom: 3px solid transparent;
                    content: "";
                    float: left;
                    margin: 5px 10px 0 0;
                }

.arrowUp {
    float: right;
    margin-right: 45px;
    cursor: pointer;
}

    .arrowUp span {
        display: block;
        position: fixed;
        width: 45px;
        height: 30px;
        background: #666;
        bottom: 25px;
        -webkit-border-radius: 8 0 0 8;
        -moz-border-radius: 8 0 0 8;
        border-radius: 8px 0 0 8px;
        color: #FFF;
        padding-top: 15px;
        text-align: center;
        font: bold 10px Arial, Helvetica, sans-serif;
    }

        .arrowUp span:hover {
            background: #444;
        }

            .arrowUp span:hover:before {
                border-bottom: 15px solid #d8a62e;
            }

        .arrowUp span:before {
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-bottom: 15px solid #efefef;
            border-right: 10px solid transparent;
            content: "";
            display: block;
            position: relative;
            top: -4px;
            margin: auto;
        }

.errorCheck {
    margin-left: 410px;
    margin-bottom: -23px;
}
/**********************ERROR PAGE***********************/
.errorPage {
    margin: auto;
    margin-top: 6px;
    padding: 0;
    height: 550px;
    background: url(/bms_guest_stay_website/static/src/img/error-bg.gif) center center no-repeat;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

    .errorPage .cont {
        text-align: center;
        font-family: Tahoma, Arial, Verdana, sans-serif;
        padding-top: 190px;
        color: #FFF;
    }

        .errorPage .cont h1 {
            font-size: 35px;
            text-transform: uppercase;
            padding: 0;
            margin: 12px 0;
        }

        .errorPage .cont p {
            font-size: 15px;
            line-height: 25px;
        }

            .errorPage .cont p span {
                text-transform: uppercase;
            }

            .errorPage .cont p a {
                text-transform: uppercase;
                color: #d8a62e;
            }

                .errorPage .cont p a:hover {
                    color: #7ccd45;
                }
/**********************New CSS - Ding Than***********************/
.pp {
	z-index: 10;
	font: 13px Arial, Verdana, sans-serif;
	display:none;
}
.pp, .pp .bg, .pp .box {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.pp .bg {
	background-color: #000;
	opacity: 0.5;
	filter: alpha(opacity=50);
}
.pp .box {
	overflow: hidden;
	display: -webkit-box;
	display: -moz-box;
	display: box;
	-webkit-box-align: center;
	-moz-box-align: center;
	flex-align: center;
}
.pp .box .pp-ctx {
	width: 560px;
	margin: auto;
	background-color: #efefef;
	border: 1px solid #787878;
}
.pp .box .pp-ctx h2 {
	font:bold 14px Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	height:44px;
	line-height:44px;
	background:#FFF;
	padding:0 15px;
}
.pp .cont {
	margin: 20px 28px 18px;
}

.pp .cont p {
	margin-bottom:30px;
	font:14px Arial, Helvetica, sans-serif;
	line-height:22px;
}
.pp .cont span {
	text-align:right;
	display:block;
}
.pp a {
	display:inline-block;
	height:25px;
	font:bold 13px Arial, Helvetica, sans-serif;
	line-height:25px;
	color:#FFF;
	background:#0d7d49;
	width:auto;
	padding:0 20px;
	margin-left:15px;
}
.pp a:hover {
	background:#444;
}

.regInfo .detail {
	color:#129e5d;
}
.pp .box .stepsPopup {
	width: 850px;
	max-height: 100%;
	overflow-y: auto;
	background-color: #fff
}
.stepsPopup .cont {
	margin:15px 55px 45px;
}
.boxDetail {
	display:block;
	position:relative;
	overflow:hidden;
	min-height:100px;
	border:1px dashed #ddd;
	border-bottom:5px solid #bbb;
	background-color:#fff;
	margin-bottom:20px;
}
.stepsPopup h3 {
	font: 22px "Myriad Pro Condensed", Tahoma, Arial, Verdana, sans-serif;
	text-transform:uppercase;
	color:#666;
	text-align:center;
	padding:10px 20px 0;
}
.boxDetail .num {
	display:block;
	position:absolute;
	top:50%;
	margin-top:-45px;
	left:-12px;
	font: 85px "Myriad Pro Bold Condensed", Tahoma, Arial, Verdana, sans-serif;
	line-height:90px;
	color:#dfdfdf;
}
.boxDetail .text {
	padding:18px 25px 18px 105px;
}
.boxDetail .text li {
	margin:8px 0;
	position:relative;
	font-size:14px;
	line-height:20px;
}
.boxDetail .text li:before {
	content:"";
	position:absolute;
	display:block;
	height:4px;
	width:6px;
	background-color:#129e5d;
	top:8px;
	left:-22px;
}
.boxDetail:hover {
	border-bottom:5px solid #a8cfa3;
}
.boxDetail:hover .num {
	color: #a8cfa3;
}
.text-center { text-align:center; }
/** popup css */
#toPopup {
    z-index: 10;
    font: 13px Arial, Verdana, sans-serif;
    display: none;
}

    #toPopup, #toPopup .bg, #toPopup .box {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

        #toPopup .bg {
            position: fixed;
            background-color: #000;
            opacity: 0.5;
            filter: alpha(opacity=50);
        }

        #toPopup .box {
            overflow: auto;
            display: -webkit-box;
            display: -moz-box;
            display: box;
            -webkit-box-align: center;
            -moz-box-align: center;
            flex-align: center;
        }

            #toPopup .box .pp-ctx {
                width: 560px;
                margin: auto;
                background-color: #efefef;
                border: 1px solid #787878;
            }

                #toPopup .box .pp-ctx h2 {
                    font: bold 14px Arial, Helvetica, sans-serif;
                    text-transform: uppercase;
                    height: 44px;
                    line-height: 44px;
                    background: #FFF;
                    padding: 0 15px;
                }

        #toPopup .cont {
            margin: 10px 10px 20px;
        }

            #toPopup .cont p {
                /*margin-bottom: 30px;*/
                font: 14px Arial, Helvetica, sans-serif;
                line-height: 22px;
                /*color: red;*/
            }

            #toPopup .cont span {
                text-align: right;
                display: block;
            }

        #toPopup a {
            display: inline-block;
            height: 25px;
            font: bold 13px Arial, Helvetica, sans-serif;
            line-height: 25px;
            color: #FFF;
            background: #0d7d49;
            width: auto;
            padding: 0 20px;
            margin-left: 15px;
        }

            #toPopup a:hover {
                background: #444;
            }

        #toPopup .box .pp-ctx .cont .checkStar {
            width: 3px;
            float: right;
            margin: 8px 10px 0px 0px;
            color: red;
        }
/* popup messager*/
#showMessager {
    z-index: 10;
    font: 13px Arial, Verdana, sans-serif;
    display: none;
}

    #showMessager, #showMessager .bg, #showMessager .box {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

        #showMessager .bg {
            position: fixed;
            background-color: #000;
            opacity: 0.5;
            filter: alpha(opacity=50);
        }

        #toPopup .box {
            overflow: auto;
            display: -webkit-box;
            display: -moz-box;
            display: box;
            -webkit-box-align: center;
            -moz-box-align: center;
            flex-align: center;
        }

            #showMessager .box .pp-ctx {
                width: 560px;
                margin: auto;
                background-color: #efefef;
                border: 1px solid #787878;
                margin-top: 200px;
            }

                #showMessager .box .pp-ctx h2 {
                    font: bold 14px Arial, Helvetica, sans-serif;
                    text-transform: uppercase;
                    height: 44px;
                    line-height: 44px;
                    background: #FFF;
                    padding: 0 15px;
                }

        #showMessager .cont {
            margin: 10px 10px 20px;
        }

            #showMessager .cont p {
                /*margin-bottom: 30px;*/
                font: 14px Arial, Helvetica, sans-serif;
                line-height: 22px;
                /*color: red;*/
            }

            #showMessager .cont span {
                text-align: right;
                display: block;
            }

        #showMessager a {
            display: inline-block;
            height: 25px;
            font: bold 13px Arial, Helvetica, sans-serif;
            line-height: 25px;
            color: #FFF;
            background: #0d7d49;
            width: auto;
            padding: 0 20px;
            margin-left: 15px;
        }

            #showMessager a:hover {
                background: #444;
            }

        #showMessager .box .pp-ctx .cont .checkStar {
            width: 3px;
            float: right;
            margin: 8px 10px 0px 0px;
            color: red;
        }

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .formApp .formEnding span p.textEnterCode {
        margin-top: -50px;
    }
}

@-moz-document url-prefix() {
    .formApp .formEnding span p.textEnterCode {
        font: 15px "Myriad Pro Bold", Tahoma, Arial, Verdana, sans-serif;
        color: red;
        margin-top: -80px;
        margin-left: 5px;
    }

    #toPopup .box .pp-ctx {
        margin-top: 215px;
    }
}

#banner p {
    font-size: 18px;
}